@font-face {
  font-family: "iconfont"; /* Project id 4594323 */
  src: url('iconfont.woff2?t=1719647314222') format('woff2'),
       url('iconfont.woff?t=1719647314222') format('woff'),
       url('iconfont.ttf?t=1719647314222') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shengdanshu:before {
  content: "\e6fd";
}

.icon-bingxiang:before {
  content: "\e600";
}

.icon-bingxiang1:before {
  content: "\e693";
}

.icon-appyingyong:before {
  content: "\e61b";
}

.icon-Nut:before {
  content: "\e62b";
}

.icon-wode:before {
  content: "\e62f";
}

.icon-wodedamaijihuo:before {
  content: "\e656";
}

.icon-icon_yingyongguanli:before {
  content: "\eb8f";
}

.icon-xingzhuang:before {
  content: "\e619";
}

.icon-zhuangxiushangjia-:before {
  content: "\e605";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-bingxiang2:before {
  content: "\ec4f";
}

.icon-ronghetaocan:before {
  content: "\e6b2";
}

.icon-wupinzujie:before {
  content: "\e604";
}

.icon-acorn:before {
  content: "\e73c";
}

.icon-acorn1:before {
  content: "\ea7d";
}

.icon-Acorn:before {
  content: "\edc9";
}

.icon-acorn2:before {
  content: "\e74e";
}

.icon-bingxiang3:before {
  content: "\e6ab";
}

.icon-Acorn1:before {
  content: "\e664";
}

.icon-bingxiang4:before {
  content: "\e731";
}

.icon-wupin:before {
  content: "\e601";
}

.icon-ershou:before {
  content: "\e639";
}

.icon-yiyaoxiang:before {
  content: "\e69c";
}

.icon-home-fill:before {
  content: "\e857";
}

.icon-home1:before {
  content: "\e858";
}

.icon-yiyaoxiang1:before {
  content: "\e675";
}

